<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385900976442-m7rvujals31a4ogtg9fqkq8ppmi08cj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385900976442-m7rvujals31a4ogtg9fqkq8ppmi08cj6</string>
	<key>API_KEY</key>
	<string>AIzaSyDkZQbjbjSdX25k-qp41943zq_IqtFG31s</string>
	<key>GCM_SENDER_ID</key>
	<string>385900976442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.boardgameAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>boardgame-pp</string>
	<key>STORAGE_BUCKET</key>
	<string>boardgame-pp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385900976442:ios:89dcb3e8cf51fb9eaf5803</string>
</dict>
</plist>